html{background: url(../images/outerspace_landscape.jpeg) no-repeat; background-size: cover;}
nav{position: fixed; background: grey; width:100%; min-height:80px;}
nav img{border:2px solid #000;border-radius: 50%;
width:45px;
position: absolute; left:15px; top:15px;
}
nav ul{position: relative; left:50px; top:15px;}
nav li{display: inline-block; border-right: 1px solid #000; }
nav li a{display: block; padding:0 20px;}
main{padding:150px 0;}
#dashedBox{border:10px dashed green; width:600px; height: 300px; margin:0 auto;
position: relative;
margin-top: 100px;}
#dashedBox img{position: absolute;}
#dashedBox #cat{left:-100px; top:-100px;}
#dashedBox #dog{right:-100px; bottom:-100px;}